<section class="content">
    <div class="content-block">
      </div>
     <br><br><br>
     <div class="">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-icon-only shadow-primary float-start">
                    <i class="fas fa-gavel"></i>
                </div>
                <div class="card-left">
                  <div>
                    <h4 class="juzgado">{{modGenerales.Expediente.Centro.Descripcion}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="card card-statistic-2">
              <div class="clearfix">
                <div class="card-icon-only shadow-primary float-start"><i class="fas fa-folder-open"></i>
                </div>
                <div class="card-right">
                  <div>
                    <h5 class="float-end">{{modGenerales.Expediente.TipoExpediente.Descripcion}}</h5>
                  </div>
                  <div>
                    <h4 class="font-weight-bold float-end mb-0">
                        {{modGenerales.Expediente.Nomenclatura}}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="card">
            <div class="header">
              <h2>Personajes</h2>
              <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="agregar()">
                  <mat-icon>add_circle_outline</mat-icon>
                  <span>Agregar</span>
                </button>
              </mat-menu>
            </div>
            <div class="tableBody">
              <div class="table-responsive">
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Tipo</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let personaje of arrData">
                      <td class="table-img">
                        {{personaje.Nombre}}
                      </td>
                      <td>{{personaje.TipoPersonaje.Descripcion}} </td>
                      <td>
                        <button mat-icon-button class="tbl-action-btn" (click)="editar(personaje)">
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                        <button mat-icon-button class="tbl-action-btn"  (click)="eliminar(personaje)">
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="header">
              <h2>{{Delitos}}</h2>
              <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>add_circle_outline</mat-icon>
                  <span>Agregar</span>
                </button>
              </mat-menu>
            </div>
            <div class="tableBody">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>{{Delitos}}</th>
                      <th>Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let delito of modGenerales.Delitos">
                      <td>
                        {{delito.Nombre}}
                      </td>

                      <td>
                        <button mat-icon-button class="tbl-action-btn"  (click)="eliminarDelito(delito)">
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                        </button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </div>
    
    
  </section>
  

<swal #Personajes title="Personaje" width="70vw" [showConfirmButton]="false">
    <div style="max-height: 70vh; overflow: auto;"  class="alert alert-info">
        <app-personajes></app-personajes>
    </div>
</swal>