<div style="margin-right: 20px;">
    <br>
    <form>
        <div fxLayout="row" fxLayoutAlign="space-around baseline">
            <div fxFlex.sm="70" fxFlex.lg="70" fxFlex="70">
                <mat-form-field appearance="outline">
                    <mat-label style="color: #555555;">
                        Juzgado
                    </mat-label>
                    <input style="color: #2d4e66;" [(ngModel)]="modGenerales.Expediente.Centro.Descripcion" disabled matInput name="inputCentroNombre">
                </mat-form-field>
            </div>
            <div fxFlex.sm="5" fxFlex.lg="5" fxFlex="5"></div>
            <div fxFlex.sm="25" fxFlex.lg="25" fxFlex="25">
                <mat-form-field appearance="outline">
                    <mat-label style="color: #555555;">
                        Numero expediente
                    </mat-label>
                    <input style="color: #2d4e66;" [(ngModel)]="modGenerales.Expediente.Nomenclatura" disabled matInput name="inputClaveExpediente">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex.sm="45" fxFlex.lg="45" fxFlex="45">
                <mat-form-field appearance="outline">
                    <mat-label style="color: #555555;">
                        Tipo expediente
                    </mat-label>
                    <input style="color: #2d4e66;" [(ngModel)]="modGenerales.Expediente.TipoExpediente.Descripcion" disabled matInput name="inputTipoExpediente">
                </mat-form-field>
            </div>
            <div fxFlex.sm="5" fxFlex.lg="5" fxFlex="5"></div>
            <div fxFlex.sm="50" fxFlex.lg="50" fxFlex="50">
                <mat-form-field appearance="outline">
                    <mat-label style="color: #555555;">
                        Fecha
                    </mat-label>
                    <input style="color: #2d4e66;" [(ngModel)]="modGenerales.Expediente.FechaCreacion" disabled matInput name="inputFecha">
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-around flex-start">

            <div fxFlex.sm="50" fxFlex.lg="50" fxFlex="50">
                <h4>Personajes</h4>
                <mat-selection-list style="border-bottom: #bcc7d2; border-bottom-style: solid;" #shoes [multiple]="false">
                    <mat-list-option style="height: 70px; border: #bcc7d2; border-style: solid; border-bottom-style: unset;" 
                    *ngFor="let personaje of modGenerales.Personajes" [value]="personaje.Identificador">
                        <div style="display: flex; align-items: flex-start; flex-wrap: wrap; flex-direction: row;">
                            <mat-icon style="color: #2d4e66;">gavel</mat-icon>
                            <span>
                            {{personaje.Nombre + ' ' + personaje.Paterno + ' ' + personaje.Materno}} - 
                            {{personaje.TipoPersonaje.Descripcion}}
                        </span>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
            </div>

            <div fxFlex.sm="2" fxFlex.lg="2" fxFlex="2"></div>
            <div fxFlex.sm="48" fxFlex.lg="48" fxFlex="48">

                <h4>{{Delitos}}</h4>
                <mat-selection-list style="border-bottom: #bcc7d2; border-bottom-style: solid;" #shoes [multiple]="false">
                    <mat-list-option style="height: 70px; border: #bcc7d2; border-style: solid; border-bottom-style: unset;" 
                        *ngFor="let delito of modGenerales.Delitos" [value]="delito.Identificador">
                        <div style="display: flex; align-items: flex-start; flex-wrap: wrap; flex-direction: row;">
                            <mat-icon style="color: #2d4e66;">gavel</mat-icon>
                            <span>{{delito.Nombre}}</span>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </form>
</div>