<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#26c6da" type="ball-fall" [fullScreen]="false">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>


<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="plus-card">

  <mat-card>
      <mat-card-content>
          <div fxLayout="row wrap" style="align-items:center">
       <!--       <div fxFlex.gt-md="100" fxFlex.gt-lg="100" fxFlex="100">
                  <button   (click)="crearDeposito()" style="float: right; margin: 5px;" mat-raised-button color="accent">
                      <i style="font-size:x-large; margin-right: 15px;" class="fa fa-plus"></i>
                      Depósito
                  </button>
                  </div>  -->
          </div>
          <div class="row" >
              <div class="col-sm-12">     
                <div class="">
                  <mat-nav-list>
                    <mat-list-item >
                      <div class="etiqueta" >
                        Monto
                      </div>
                      <div class="etiqueta">
                        Fecha Depósito
                       </div>
                      <div class="etiqueta">
                          Fecha de Recepción
                         </div>
                      <!--  <div class="eliminabtn">
                         Anular
                       </div> -->
                    </mat-list-item>
                  </mat-nav-list>
                </div>
              </div>
            </div>
            <div class="row" >
              <div class="col-sm-12">
                <div class="example-container scrollpr">
                  <mat-nav-list class="gradient-list">
                    <mat-list-item *ngFor="let deposito of depositosLista">
                      
                      <div class="etiqueta">
                        {{ deposito.Monto | currency }}
                      </div>
                      <div class="etiqueta">
                        {{ formatFecha(deposito.FechaDeposito) }}
                       </div>
                       <div class="etiqueta">
                         {{ formatFecha(deposito.FechaRecepcion)}}
                        </div>
                       <!-- <div class="eliminabtn">
                        <button mat-icon-button (click)="anularDeposito(deposito)" [disabled]="permiso">
                          <mat-icon>indeterminate_check_box</mat-icon>
                        </button>
                       </div> -->
                    </mat-list-item>
                  </mat-nav-list>
                </div>
              </div>
            </div>
      </mat-card-content>
  </mat-card>
</div>


<swal #deposito title="Nuevo" width="70vw">
  <div style="max-height: 70vh; overflow: auto;" *swalPortal="undefined"  class="alert alert-info">
      <app-formulario-deposito  (handleClick)="childEvent($event)"></app-formulario-deposito>
  </div>
</swal>