<nav #navbar class="navbar active">
  <div class="container-fluid">
    <div class="navbar-header ">
      <a href="#" onClick="return false;" class="navbar-toggle collapsed"
        (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false"></a>
      <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
      <a class="navbar-brand" routerLink={{homePage}}  style="margin-top: -10px !important; height: 55px!important;">
        <img alt="homepage" style="width: 45%; " src="assets/images/portal/pj-logo-b.png" />
        <br><br>
      </a>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="isNavbarCollapsed ? '' : 'show'">
      <ul class="float-start collapse-menu-icon">
        <li>
          <button mat-button (click)="callSidemenuCollapse()" class="sidemenu-collapse nav-notification-icons"> <i
              class="material-icons-outlined icon-color">
              menu
            </i></button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <!-- #END# Notifications-->
  <!--          <li class="nav-item">

        </li>
        <li class="nav-item user_profile">
      
          <button mat-button [matMenuTriggerFor]="profilemenu" class="nav-notification-icons">
            <mat-icon class="iconoblanco">settings</mat-icon>
          </button>
       <mat-menu #profilemenu="matMenu" class="profile-menu">
            <div class="noti-list">
              <div class="menu " (click)="logout()">
                <div class="user_dw_menu" (click)="logout()">
   
                  <button mat-menu-item (click)="logout()">
                    <app-feather-icons [icon]="'log-out'" [class]="'user-menu-icons'"></app-feather-icons>Salir
                  </button>
                </div>
              </div>
            </div>
          </mat-menu>
        </li>
         -->
      </ul>
    </div>
  </div>
</nav>
