.navbar-header{
    background-color: #2d4e66 !important;
}

.navbar{
    background-color: #2d4e66 !important;
}

.iconoblanco{
    color: white !important;
    transform: scale(1.5);
}

.nfc-header {
    background-color: #2d4e66 !important;
}
.texto{
    margin-right: 15px !important;
}