mat-form-field{
    width: 100%!important;
}

.example-button-container{
  //  top: 10% !important;
}
.fabn{
    height: 56px !important;
}
.icon-display {
  transform: scale(.5);
}

td, th, input {
  text-align: center !important;
  vertical-align: middle !important;
}
.almacen{
  width: 80px!important;
}
