
.rojo-icon {
    color: #F31515 !important;
}
.verde-icon {
    color: #15CF23 !important;
}
.azul-icon {
    color: #3B7BF3 !important;
}
.morado-icon {
    color: #A263E9 !important;
}

.naranja-icon {
    color: #F1A306 !important;
}

.btn-rojo{
    --mdc-fab-container-color:  #F31515 !important;
}
.btn-verde{
    --mdc-fab-container-color:  #15CF23 !important;
}