<section class="content">
  <div class="content-block">
    <div class="row">
      <div class="col-md-12">
            <div class="mt-5">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="materialTableHeader">
                    <div class="left">
                      <ul class="header-buttons-left ms-0">
                        <li class="tbl-title">
                          <h2>Garantías</h2>
                        </li>
                        <li class="tbl-search-box">
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Buscar" type="text" #filter class="browser-default search-field"
                            aria-label="Search box">
                        </li>
                      </ul>
                    </div>
                    <div class="right">
                      <ul class="tbl-export-btn">
                        <li class="tbl-header-btn">
                          <div class="m-l-10" matTooltip="REGISTRAR NUEVA GARANTÍA">
                            <button mat-mini-fab color="primary" (click)="addNew()">
                              <mat-icon class="col-white">add</mat-icon>
                            </button>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="body overflow-auto">
                    <div class="responsive_table">
                      <table mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
                                <!-- ID Column -->
                        <ng-container matColumnDef="id">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Id
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Folio">
                          <mat-header-cell mat-header-cell *matHeaderCellDef> Folio
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" ><span
                              class="mobile-label">Folio:</span> {{row.Folio}}
                          </mat-cell>
                        </ng-container>          
                        
                        <ng-container matColumnDef="FolioRenta">
                          <mat-header-cell mat-header-cell *matHeaderCellDef> Folio Renta
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" ><span
                              class="mobile-label">Folio Renta:</span> {{row.Anexo.Descripcion}}
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Estado">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Estado
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" ><span
                              class="mobile-label">Estado:</span> {{obtieneEstado(row)}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Monto">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Monto </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row">                          
                            <span class="mobile-label">Monto:</span>{{row.Importe | currency}}</mat-cell>
                        </ng-container>          
                        <ng-container matColumnDef="Depositado">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Depositado </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row">                          
                            <span class="mobile-label">Depositado:</span>{{row.MontoDepositos | currency}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Devuelto">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Devuelto </mat-header-cell>
                          <mat-cell mat-cell *matCellDef="let row">                          
                            <span class="mobile-label">Devuelto:</span>{{row.MontoDevoluciones | currency}}</mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="FechaEmision">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha emisión
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" > <span
                              class="mobile-label">Fecha emisión:</span>{{this.formatFecha(row.Fecha)}}
                          </mat-cell>
                        </ng-container>
                      
                        <ng-container matColumnDef="Acciones">
                          <mat-header-cell class="pr-0" *matHeaderCellDef>Acciones
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row; let i=index;" class="pr-0">     <span
                            class="mobile-label">Acciones:</span>            
                              <div>
                                <div class="example-button-container">
                                  <button mat-icon-button (click)="$event.stopPropagation()" (click)="ImprimeGarantia(row)" matTooltip="DESCARGAR"
                                  class="tbl-action-btn">
                                  <app-feather-icons [icon]="'download-cloud'" [class]="'tbl-fav-dwn'"></app-feather-icons>
                                </button> 
                                </div> 
                                <div class="example-button-container"  *ngIf="row.Estado ==1">
                                  <button mat-icon-button (click)="$event.stopPropagation()" (click)="eliminarGarantia(row)" matTooltip="ELIMINAR"
                                  class="tbl-action-btn">
                                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                                </button>
                                </div>



                              
                                <div class="example-button-container">
                                  <button mat-icon-button (click)="$event.stopPropagation()" (click)="abreDepositos(row)" matTooltip="DEPÓSITOS"
                                  class="tbl-action-btn">
                                  <i class="fas fa-hand-holding-usd" [class]="'tbl-fav-black'"></i>
                                </button>
                                </div>

                           
                              </div>
                              
                              <div > 
                                              
                                <div class="example-button-container">
                                  <button mat-icon-button (click)="$event.stopPropagation()" (click)="ImprimeHistorial(row)" matTooltip="HISTORIAL"
                                  class="tbl-action-btn">
                                  <i class="fas fa-history"   [class]="'tbl-fav-black'"></i>
                                </button>
                                </div>   
                                <div class="example-button-container" *ngIf="row.Estado ==1">
                                  <button mat-icon-button (click)="$event.stopPropagation()" (click)="editCall(row)" matTooltip="EDITAR ANEXO"
                                  class="tbl-action-btn">
                                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                </button>
                                </div>    
                   

  
                                <div class="example-button-container" *ngIf="row.Estado ==2">
                                  <button mat-icon-button (click)="$event.stopPropagation()" (click)="muestraDepositos(row)" matTooltip="DEVOLUCIONES"
                                  class="tbl-action-btn">

                                  <i class="fas fa-arrow-left"  [class]="'tbl-fav-extra'"></i>
                                </button>
                                </div>

                              </div>
                              
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns">
                        </mat-header-row>
                        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                        <mat-row *matRowDef="let row; columns: displayedColumns;" 
                          [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                      </table>
                      <!-- Loading spinner -->
                      <div *ngIf="garantiasSvc?.isTblLoading" class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>
           
                      <div *ngIf="!garantiasSvc?.isTblLoading" class="no-results"  [style.display]="dataSource.renderedData.length === 0 ? '' : 'none'">
                        Sin registros
                      </div>
                      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
      </div>
    </div>
  </div>
</section>


<swal #Agregar title="Anexo" width="60vw" [confirmButtonText]="'Guardar'" [cancelButtonText]="'Regresar'" [showCancelButton]="true"
[allowOutsideClick]="false" [allowEscapeKey]="false" 
[showConfirmButton]="buttonDisabled"   (confirm)="agregaMovimiento()">
<div style="max-height: 70vh; overflow: auto;" *swalPortal="undefined" >
 <app-form-garantia [nuevaGaraForm]="nuevaGara"   (buttonAneDisabledEvent)="onButtonDisabled($event)" (nuevoRegistroEvent)="asignaObjeto($event)"  ></app-form-garantia>
</div>
</swal>

<swal #Editar title="Editar Anexo" width="60vw" [confirmButtonText]="'Guardar'" [cancelButtonText]="'Regresar'" [showCancelButton]="true"
[allowOutsideClick]="false" [allowEscapeKey]="false" 
[showConfirmButton]="buttonDisabled"   (confirm)="guardaEdita()">
<div style="max-height: 70vh; overflow: auto;" *swalPortal="undefined" >
 <editar-form-garantia [nuevaGaraForm]="nuevaGara"   (buttonAneDisabledEvent)="onButtonDisabled($event)" (nuevoRegistroEvent)="asignaObjeto($event)"  ></editar-form-garantia>
</div>
</swal>

 <swal #Depositos title="Depósitos" width="70vw" [confirmButtonText]="'Guardar'" [cancelButtonText]="'Regresar'" [showCancelButton]="true"
[allowOutsideClick]="false" [allowEscapeKey]="false" 
[showConfirmButton]="buttonDisabled"  (confirm)="loadData()" >
<div style="max-height: 70vh; overflow: auto;" *swalPortal="undefined" >
 <app-depositos-garantia [modGarantia]="nuevaGara"   ></app-depositos-garantia>
</div>
</swal> 
