
  <div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <i class="fas fa-user-friends"></i>
        <div class="modal-about">
            Personaje
        </div>

      </div>
    </div>
    <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-3 mb-2">
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
        <div class="example-button-row modal-save-button">
            <button mat-raised-button color="primary" [disabled]="!form.valid||domiciliosList.length==0" [mat-dialog-close]="1"
            (click)="agregar()">Guardar</button>
        </div>
        </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="body">
        <form class="m-4" [formGroup]="form">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="Nombre" required>
                <mat-error *ngIf="form.get('Nombre')?.hasError('required')">
                  Campo obligatorio
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Paterno</mat-label>
                <input matInput formControlName="Paterno">
              </mat-form-field>
            </div>   
             <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Materno</mat-label>
                <input matInput formControlName="Materno">
              </mat-form-field>
            </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width mb-3" appearance="outline">

                  <mat-label>
                      Tipo de Personaje
                  </mat-label>
                  <mat-select name="selectTipo" formControlName="TipoPersonaje" (selectionChange)="select($event.value)"  [compareWith]="compareCategoryObjects">
                      <mat-option *ngFor="let tipo of tiposPersonaje" [value]="tipo">
                          {{tipo.Descripcion}}
                      </mat-option>
                  </mat-select>
             
              </mat-form-field>
            </div>
      </div>
          </form>



          <div class="row">

        
            <mat-card>
              <mat-card-header>
              <div class="row">
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-3 mb-2">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-2">
                
                    <div class="example-button-row modal-save-button">
                      <button mat-raised-button color="accent" [disabled]="!form.valid" [mat-dialog-close]="1"
                      (click)="agregarDomicilio()">  <mat-icon>home</mat-icon>+ Domicilios</button>
                  </div>
                </div>
                <br>
              </div>
            </mat-card-header>
                <mat-card-content>
                    <div class="row" >
                        <h3>  DOMICILIOS DEL PERSONAJE</h3>
                      
      
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                                <div class="etiqueta">
                                   Municipio
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="etiqueta">                                   
                                    Calle
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                                <div class="etiqueta">                                   
                                    Número exterior
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                                <div class="etiqueta">
                                    Editar/eliminar
                                </div>
                            </div>
                        </div>
      
                        </div>
                        <div class="row" >
                        <div class="col-sm-12">
                            <div class="row" *ngFor="let domicilio of domiciliosList">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                                    <div class="">
                                        {{ domicilio.Municipio.Descripcion}}
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-2">
                                    <div class="">        
                                        {{domicilio.Calle}}
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">
                                    <div class="">   
                                        {{ domicilio.NumeroExterno }}
                                    </div>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                                    <div class="">
                                        <div class="eliminabtn">
                                            <button mat-icon-button (click)="editarDomicilio(domicilio)">
                                              <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button (click)="eliminarDomicilio(domicilio)">
                                                <mat-icon>delete_forever</mat-icon>
                                              </button>
                                        </div>
                                        </div>
        
                                </div>
                            </div>
                            </div>
                        </div>
                </mat-card-content>
                </mat-card>

      
      
      
      
            </div>
      
      
          
       </div>



  </div>
</div>
