<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#26c6da" type="ball-fall" [fullScreen]="false">
  <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>


<section class="content">
  <div class="content-block">

    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <br>
        <div class="card">
          <br>
          <div class="header">
            <h2>Búsqueda de expedientes</h2>
      <!--       <button mat-icon-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button> -->
     
          </div>
      <div class="body">
             
        <form [formGroup]="form">
          <div class="row" >
            <div class="row">
              
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-4">
                <mat-form-field class="example-full-width mb-3"  appearance="outline" >
                  <mat-label>Municipio</mat-label>
                  <input type="text" matInput  formControlName="Municipio" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayMuniciopioFn" (optionSelected)='filtraJuzgados($event.option.value)'>
                    <mat-option *ngFor="let option of municipiosFiltrados | async" [value]="option">
                      {{option.Descripcion}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-4">
                <mat-form-field class="example-full-width mb-3"  appearance="outline" >
                  <mat-label>Juzgado</mat-label>
                  <input type="text" matInput  formControlName="Centro" [matAutocomplete]="autoJuzgado" >
                    <mat-autocomplete autoActiveFirstOption #autoJuzgado="matAutocomplete" [displayWith]="displayJuzgadoFn" (optionSelected)='filtraSistemas($event.option.value)'>
                    <mat-option *ngFor="let option of juzgadoosFiltrados | async" [value]="option">
                      {{option.CentroDgti.Juzgado}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>            
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-4">
                <mat-form-field class="example-full-width mb-3"  appearance="outline" >
                  <mat-label>Sistema</mat-label>
                  <input type="text" matInput formControlName="Sistema" [matAutocomplete]="autoSistema" >
                    <mat-autocomplete autoActiveFirstOption #autoSistema="matAutocomplete" [displayWith]="displaySistemaFn" (optionSelected)='filtraTiposExp($event.option.value)'>
                    <mat-option *ngFor="let option of sistemasFiltrados | async" [value]="option">
                      {{option.Nombre}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>                            
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-4">
                <mat-form-field class="example-full-width mb-3"  appearance="outline" >
                  <mat-label>Número Expediente</mat-label>
                  <input type="text" matInput  formControlName="Nomenclatura">
                </mat-form-field>
              </div>
  
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-4">
                <mat-form-field class="example-full-width mb-3"  appearance="outline" >
                  <mat-label>Tipo Expediente</mat-label>
                  <input type="text" matInput formControlName="TipoExpediente" [matAutocomplete]="autoTipoExp"   >
                    <mat-autocomplete autoActiveFirstOption #autoTipoExp="matAutocomplete" [displayWith]="displayTipoExpFn" >
                    <mat-option *ngFor="let option of tipoExpedienteFiltrados | async" [value]="option">
                      {{option.Descripcion}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                
              </div>  
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-4">
                  <mat-checkbox class="example-margin" formControlName="omitirTipoExp" (change)="omitirFn()">Omitir tipo de expediente</mat-checkbox>
              </div>  
              

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-6">
                <button mat-raised-button color="primary" (click)="Buscar()" [disabled]="form.invalid">BUSCAR EXPEDIENTE</button>
              </div>
  
          </div> 
        </div>
      </form>
          </div>
          <div class="row">
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                  <div class="header">
                    <h2>Coincidencias</h2>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                        <mat-icon>add_circle_outline</mat-icon>
                        <span>Add</span>
                      </button>
                      <button mat-menu-item disabled>
                        <mat-icon>delete_outline</mat-icon>
                        <span>Delete</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>refresh</mat-icon>
                        <span>Refresh</span>
                      </button>
                    </mat-menu>
                  </div>
                  <div class="tableBody">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Centro de Trabajo</th>
                            <th>Tipo de Expediente</th>
                            <th>Número</th>
                            <th>Anexos</th>
                            <th>Garantías</th>
                            <th>Multas</th>
                            <th>Inculpado/Acusado/Demandado</th>
                            <th>Víctima/Ofendido/Actor</th>
                            <th>Abrir</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let expediente of listaCoincidencias">
                            <td >
                              {{expediente.Expediente.Centro.CentroDgti.Juzgado}}
                            </td>
                            <td >
                              {{expediente.Expediente.TipoExpediente.Descripcion}}
                            </td>
                            <td >
                              {{expediente.Expediente.Nomenclatura}}
                            </td>
                            <td >
                              {{expediente.Expediente.TotalAnexos}}
                            </td>
                            <td >
                              {{expediente.Expediente.TotalGarantias}}
                            </td>
                            <td >
                              {{expediente.Expediente.TotalMultas}}
                            </td>  
                            <td >
                              {{expediente.Expediente.Acusado}}
                            </td>
                            <td >
                              {{expediente.Expediente.Ofendido}}
                            </td>
                            
                            <td>
                              <button mat-icon-button class="tbl-action-btn" (click)="abrirExpediente(expediente)">
                                <app-feather-icons [icon]="'log-in'" [class]="'tbl-fav-edit'"></app-feather-icons>
                              </button>
                            </td>
                          </tr>
                       
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
