  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#26c6da" type="ball-fall" [fullScreen]="false">
      <p style="font-size: 20px; color: white">Cargando...</p>
  </ngx-spinner>

<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-sm-12">
                <div class="ngxTableHeader">
                  <ul class="header-buttons-left ms-0 mb-0">
                    <li class="dropdown">
                      <h2>Solicitudes Recibidas</h2>
                    </li>
                    <li class="dropdown m-l-20">
                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                      <input placeholder="Buscar" type="text" class="browser-default search-field"
                        (keyup)='filterDatatable($event)' aria-label="Search box">
                    </li>
                  </ul>
                </div>
                <ngx-datatable #table class="ngx-datatable" [rows]="data" 
                [headerHeight]="30"
                [footerHeight]="30"                
                [rowHeight]="'auto'"
                [reorderable]="true"
                columnMode="force"
                [limit]="5">
                 <ngx-datatable-column 
                 name="No. Solicitud" 
                 [width]="100"   
                 [resizeable]="true"     
                 [sortable]="true"
                 [draggable]="true"
                 [canAutoResize]="true" prop="Identificador"  >
                  <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                    <td >
                     {{row.Identificador}}
                    </td>
                  </ng-template>
                 </ngx-datatable-column>
                 <ngx-datatable-column name="Solicita">
                  <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                    <td >
                     {{row.CentroSolicita.CentroMateriales.CentroCosto}}
                    </td>
                  </ng-template>
                 </ngx-datatable-column>
                 <ngx-datatable-column name="Estado">
                  <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                    <td >
                     {{getEstado(row)}}
                    </td>
                  </ng-template>
                 </ngx-datatable-column>
                 <ngx-datatable-column name="Fecha de Captura">
                  <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                    <td >
                     {{formatFecha(row.FechaCaptura)}}
                    </td>
                  </ng-template>
                 </ngx-datatable-column>
                 <ngx-datatable-column name="Fecha de Envío">
                  <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                    <td >
                     {{formatFecha(row.FechaSolicitud)}}
                    </td>
                  </ng-template>
                  
                </ngx-datatable-column>
                  <ngx-datatable-column name="Fecha Proceso">
                    <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                      <td >
                       {{formatFecha(row.FechaProceso)}}
                      </td>
                    </ng-template>
                   </ngx-datatable-column>
                   <ngx-datatable-column name="Fecha Lista Entrega">
                    <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                      <td >
                       {{formatFecha(row.FechaLibera)}}
                      </td>
                    </ng-template>
                   </ngx-datatable-column>
                   <ngx-datatable-column name="Fecha Entrega">
                    <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                      <td >
                       {{formatFecha(row.FechaEntrega)}}
                      </td>
                    </ng-template>
                 </ngx-datatable-column>
                 <ngx-datatable-column name="Tiempo Espera">
                  <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                    <td >
                     {{calculaTiempo(row)}}
                    </td>
                  </ng-template>
               </ngx-datatable-column>
                  <ngx-datatable-column name="Acciones" [sortable]="false" [width]="120">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <span>
                        <button class="btn tblActnBtn h-auto morado-icon" (click)='surteSol(row)' *ngIf="row.Estado.Identificador==2 || row.Estado.Identificador==7" >
                          <i class="material-icons">store_mall_directory</i>
                        </button>
                        <button class="btn tblActnBtn h-auto verde-icon" (click)='descargaExcel(row)'  
                        matTooltip="Descargar Archivo">
                        <i class="fas fa-file-excel fa-lg"></i>
                        </button>     
                        <button class="btn tblActnBtn h-auto naranja-icon" (click)='listaEntrega(row)' *ngIf="row.Estado.Identificador==3 || row.Estado.Identificador==9" 
                          matTooltip="Listo para entrega">
                          <mat-icon>markunread_mailbox</mat-icon>  
                        </button>                        
                        <button class="btn tblActnBtn h-auto morado-icon" (click)='entregado(row)'  *ngIf="row.Estado.Identificador==4" >
                          <i class="material-icons">input</i>
                        </button>
                        <button class="btn tblActnBtn h-auto verde-icon" (click)='recordatorio(row)' *ngIf="row.Estado.Identificador==4 && row.FechaLibera"
                         matTooltip="Enviar Recordatorio">
                          <i class="far fa-bell"></i>
                        </button>     

                        <button class="btn tblActnBtn h-auto rojo-icon" *ngIf="row.Estado.Identificador==7" (click)='cancela(row)'>
                          <i class="fas fa-ban fa-lg"></i>
                        </button>

                        <button class="btn tblActnBtn h-auto azul-icon" (click)='ImprimeSolicitud(row)'>
                          <i class="fas fa-file-download fa-lg"></i>
                        </button>
                        

                      </span>
                    </ng-template>
                  </ngx-datatable-column>

                    <ngx-datatable-footer>
                      <ng-template 
                        let-curPage="curPage" 
                        let-offset="offset" 
                        let-pageSize="pageSize" 
                        let-rowCount="rowCount" 
                        let-selectedCount="selectedCount" 
                        ngx-datatable-footer-template>
                      <datatable-pager
                        [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="curPage"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="table.onFooterPage($event)">
                      </datatable-pager>
                      </ng-template>
     
                    </ngx-datatable-footer>
                  
                    </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <swal #BuscaAlmacenSw title="Surtir Solicitud" width="85vw" 
  [confirmButtonText]="'Guardar Solicitud'"
  [cancelButtonText]="'Regresar'"
  [showCancelButton]="true"
  (confirm)="procesaSolicitud()">
  <div style="max-height: 80vh; overflow: auto;" *swalPortal="undefined" >
      <app-surte-pedido [solicitud]="solicitudAdmin"></app-surte-pedido>
  </div>
</swal>

