
    <div fxLayout="row wrap" >
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="plus-card">
            <mat-card>
              <mat-card-header>

                <span>  Para realizar alguna modificación en la lista, regrese a la pantalla anterior</span>
              </mat-card-header>
                <mat-card-content >
            
                  <table mat-table [dataSource]="materiales" class="mat-elevation-z8">

                    <ng-container matColumnDef="Material">
                      <th mat-header-cell *matHeaderCellDef> Material </th>
                      <td mat-cell *matCellDef="let element"> {{element.Material.Material}} </td>
                    </ng-container>

                    <ng-container matColumnDef="TextoMaterial">
                      <th mat-header-cell *matHeaderCellDef> TextoMaterial </th>
                      <td mat-cell *matCellDef="let element"> {{element.Material.TextoMaterial}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="CantidadSolicitada">
                      <th mat-header-cell *matHeaderCellDef> Cantidad Solicitada </th>
                      <td mat-cell *matCellDef="let element"> {{element.CantidadSolicitada}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="Unidad">
                      <th mat-header-cell *matHeaderCellDef> Unidad </th>
                      <td mat-cell *matCellDef="let element"> {{element.Material.Unidad}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>                


                </mat-card-content>

            </mat-card>   
        </div>
     </div>