@import '../node_modules/@swimlane/ngx-datatable/index.css';  
@import '../node_modules/@swimlane/ngx-datatable/themes/bootstrap.css';  
@import '../node_modules/@swimlane/ngx-datatable/assets/icons.css';  

.datatable-body-cell-label{
    max-width: 95% !important;
    display: table !important;
    justify-content: space-between !important;
}

.modal-save-button {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #161d38;
    right: 100px;
    position: absolute !important;
  }