<div class="addContainer">
    <div mat-dialog-content>
    <form [formGroup]="form">
      <br><br>
      <div class="row">
        <div class="row" >
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
           <mat-form-field class="example-full-width "  appearance="outline"  >
              <mat-label>
                  Juzgado
              </mat-label>
              <input matInput name="Juzgado" disabled [(ngModel)]="generales.Expediente.Centro.Descripcion" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
  
          </div>       
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
             <mat-form-field class="example-full-width "  appearance="outline"  >
              <mat-label>
                  Número de expediente
              </mat-label>
              <input matInput name="Clave" disabled [(ngModel)]="generales.Expediente.Nomenclatura" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          </div>
          <ng-container  *ngIf='generales.Expediente.Centro.FolioMAAT == 1; then capturaFolio; '> </ng-container>
          <ng-template #capturaFolio>
              <div fxLayout="row" fxLayoutAlign="space-around baseline">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      <mat-form-field appearance="outline">
                          <mat-label>
                              Folio MAAT 
                          </mat-label>
                          <input formControlName="Folio" matInput name="inputFolio">
                      </mat-form-field>
                  </div>
              </div>  
          </ng-template>
          
          
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <mat-form-field  class="example-full-width " formGroupName="Personaje">
              <mat-label>
                  Nombre del depositante
              </mat-label>
              <mat-select formControlName="Identificador" name="selectDepositante" (selectionChange)="filtrarDomicilios($event)">
                  <mat-option *ngFor="let personaje of personajes" [value]="personaje.Identificador">
                      {{personaje.Nombre}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          </div>              
          
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
              <mat-form-field *ngIf="domicilios"  class="example-full-width " appearance="outline" formGroupName="Domicilio">
                <mat-label>
                    Domicilio
                  </mat-label>
                  <mat-select name="selectDomicilio" formControlName="Identificador" (selectionChange)="selectDomicilio($event)">
                      <mat-option *ngFor="let domicilio of domicilios" [value]="domicilio.Identificador">
                          {{domicilio.Calle}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
              <mat-form-field *ngIf="domicilios" appearance="outline"  class="example-full-width " >
                <mat-label>
                    Ciudad
                </mat-label>
                <input type="text" #ciudad matInput [matAutocomplete]="auto" formControlName="Municipio" [disabled]="true">
                <mat-autocomplete [panelWidth]="'500px'" #auto="matAutocomplete" [displayWith]="getOptionText" disabled>
                    <mat-option *ngFor="let ciudad of ciudadesSync | async; index as i" [value]="ciudad">
                        {{ciudad.Descripcion}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
              </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">                    
                <mat-form-field class="example-full-width "  appearance="outline"  class="example-full-width " >
                    <mat-label>
                        Código postal
                    </mat-label>
                    <input matInput name="" formControlName="CP">
                </mat-form-field>
            </div>
            
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 ">                  
              <mat-form-field class="example-full-width "  appearance="outline"  >
                <mat-label>
                    Teléfono
                </mat-label>
                <input matInput name="" formControlName="Telefono">
            </mat-form-field>
            </div>
              
            
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
  
              <mat-form-field class="example-full-width"  appearance="outline" >
                  <mat-label>Fecha de captura</mat-label>
                <input matInput [matDatepicker]="Fecha" formControlName="Fecha">
                <mat-datepicker-toggle matIconSuffix [for]="Fecha"></mat-datepicker-toggle>
                <mat-datepicker #Fecha></mat-datepicker>
              </mat-form-field>
            </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
      
              <mat-form-field class="example-full-width"  appearance="outline" >
                  <mat-label>Fecha de vigencia</mat-label>
                <input matInput [matDatepicker]="FechaVigencia" formControlName="FechaVigencia">
                <mat-datepicker-toggle matIconSuffix [for]="FechaVigencia"></mat-datepicker-toggle>
                <mat-datepicker #FechaVigencia></mat-datepicker>
              </mat-form-field>
      
              </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
              <mat-form-field appearance="outline" formGroupName="Banco"  class="example-full-width ">
                <mat-label>
                    Banco
                </mat-label>
                <mat-select name="selectBanco" formControlName="Identificador"  (selectionChange)="cambiaConvenio($event)">
                    <mat-option *ngFor="let banco of bancos" [value]="banco.Identificador">
                        {{banco.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
  
  
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <mat-form-field appearance="outline" class="example-full-width ">
              <mat-label>
                  Convenio No.*
              </mat-label>
              <input matInput formControlName="Convenio" name="inputConvenio">
          </mat-form-field>
          </div>
  
          
           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
              <mat-form-field appearance="outline" formGroupName="Concepto"  class="example-full-width ">
                <mat-label>
                    Concepto
                </mat-label>
                <mat-select name="selectConcepto" formControlName="Identificador">
                    <mat-option *ngFor="let concepto of conceptos" [value]="concepto.Identificador">
                        {{concepto.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
   
  
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
           <mat-form-field class="example-full-width "  appearance="outline"  >
          <mat-label>
              ESTA ORDEN AMPARA LA CANTIDAD DE:*
          </mat-label>
          <input formControlName="Importe" autocomplete="off" currencyMask matInput name="inputMonto" [options]="{ prefix: '$ ', thousands: ',', decimal: '.' }">
          <small> {{numeroLetras()}}</small>
      </mat-form-field>
      </div>
  
  
      <div class="row">
        
              <mat-form-field class="example-full-width "  appearance="outline"  class="example-full-width " >
          <mat-label>
              Observaciones
          </mat-label>
          <textarea matInput placeholder="..." formControlName="Observaciones"></textarea>
          <!-- <input type="checkbox" matInput name=""> -->
      </mat-form-field>
      </div>  
  
  
  
      </div>
  
  </div>
  
    </form>
  
    </div>
  
  </div>
   