  
  <div fxLayout="row wrap" >
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="plus-card">
        <mat-card>
          <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                <div class="body">
                    <div class="row">
                      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Material</mat-label>
                          <input matInput [(ngModel)]="material.Material" type="number" required >
                        </mat-form-field>
                      </div>

                      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Texto Material</mat-label>
                          <input matInput [(ngModel)]="material.TextoMaterial" required >
                          <mat-error *ngIf="material.TextoMaterial==''">
                            First name is required
                          </mat-error>
                        </mat-form-field>
                      </div>
              
                    </div>
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Grupo de artículos</mat-label>
                          <input type="text" matInput [formControl]="grupoControl" [matAutocomplete]="auto"  [(ngModel)]="material.Grupo" required>
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayGrupoFn">
                            <mat-option *ngFor="let option of gruposFiltrados | async" [value]="option">
                              {{option.Nombre}} - {{option.Descripcion}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>

                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Unidad</mat-label>
                          <input matInput [(ngModel)]="material.Unidad"  required >
                        
                        </mat-form-field>
                      </div>
                    </div>
                    
                </div>
              </div>
            </div>
          </div>

        </mat-card>   
    </div>
 </div>

  